<html>
  <title>{{title}}</title>
  <body>
    <h1>hey yall</h1>
    {% load staticfiles %}
    <p id='demo'></p>
    <p id="demoo"></p>
    <p id="date"></p>
    <p id="dateQuote"></p>
    <h1>"Make a person"</h1>
    <input id="fname", placeholder="first Name"></input>
    <input id="lname", placeholder="last Name"></input>
    <input id="age", placeholder="age"></input>
    <button onclick="nameFunc()">Tell Us</button>
    <p id="kop"></p>
    <br>
    <h1>contact form</h1>
    <form method="post">
      {% csrf_token %}
      {{form.as_p}}
      <button type='submit'>Get in Contact</button>
    </form>


    <!--
        add contact form-->
    <h2>My First Web Page</h2>
    <p>My First Paragraph.</p>

    <!-- ANY JS CODE HAS TO BE ON TOP OF THE JS CALL OR ELSE I HAVE TO CALL IT AGAIN. -->
    <!--LOADSTATIC GOES AT THE TOP. ALSO THE STATIC IN THE URL IS CALL THE 'STATIC' FOLDER, JUST LIKE TEMPLATE-->
    <script src="{% static 'proj_1/app.js' %}"></script>
  </body>
</html>
